.card-list{
  &__item {
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    word-wrap: break-word;
    min-height: 270px;
    padding: 5px;
    resize: horizontal;
    overflow: hidden;
    box-shadow: 2px 5px 5px darkgray;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: calc((100vw - 4rem)/12 - 25px);
    max-width: calc(100vw/6);
  }

  &__box {
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }

  &__inside-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0;
  }

  &__btn {
    background-color: transparent;
    border: 1px solid black;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}
.drag {
  background-color: lightcyan;

  & .card-list__heading {
    background-color: lightcyan;
  }
}

